# Python
__pycache__/
*.pyc

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.spec

# PyInstaller
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.nosetests.xml
coverage.xml
*.cover
*.py,cover

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
